<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #40407a;">
  <a class="navbar-brand titulo color-font" href="#">OfertonES24</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
    </ul>
    <a href="https://www.instagram.com/ofertones24hs/" target="_blank"><img 
      src="https://firebasestorage.googleapis.com/v0/b/platform-abef7.appspot.com/o/69366.png?alt=media&token=a48783bc-67ad-4354-8fa7-c9d0c7a3d8da"
      height="50"
      width="50"
    ></a>
  </div>
</nav>
<app-products></app-products>